.table {
	border-top: 2px solid $base-color;
	table {
		width: 100%;
		table-layout: fixed;
		th {
			padding: 21px 0 22px;
			border-bottom: 1px solid $border-color;
			font-weight: 500;
			font-size: 18px;
			color: $base-color;
		}
		td {
			padding: 21px 10px;
			border-bottom: 1px solid $border-color;
			text-align: center;
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: -.4px;
			color: #333;
			word-break: break-all;
			&.subject {
				> a {
					display: block;
					font-size: 18px;
					font-weight: 500;
					text-align: left;
					.mark-status { margin: -2px 5px 0 5px; }
					&:hover { text-decoration: underline; }
				}
			}
			&.none { padding: 100px 0; }
			&.left { text-align: left; }
			&.right { text-align: right; }
		}
		.left td { text-align: left; }
		.right td { text-align: right; }
	}
}

.table-wrap {
	border-top: 1px solid #212121;
	table {
		width: 100%;
		th {
			padding: 8px 15px;
			font-size: 16px;
			font-weight: 300;
			border-bottom: 1px solid #dedede;
			border-right: 1px solid #dedede;
			background-color: #f5f5f5;
			&:last-child { border-right: none; }
		}
		td {
			padding: 8px 0;
			font-weight: 500;
			text-align: center;
			border-bottom: 1px solid #dedede;
			border-right: 1px solid #dedede;
			color: #333;
			&:last-child { border-right: none; }
			&.left {
				text-align: left;
				padding: 8px 15px;
			}
		}
	}
}

@include pc-small {
	.table-wrap {
		table {
			th,
			td { font-size: 14px; }
		}
	}
}

@include tab {
	.table-wrap {
		table {
			td { font-size: 13px; }
		}
	}
}

@include media-mob {
	.table {
		table {
			td.subject {
				a {
					.mark-status {
						margin: -1px .5rem 0 0;
						height: 22px;
						line-height: 1.75;
						min-width: 50px;
						font-weight: 500;
						font-size: 12px;
					}
				}
			}
		}
	}
}