/* Jquery UI Dialog Style */
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: 50px 20px;
	outline: 0;
	background-color: #fff;
	border-radius: 10px;
	&.content {
		display: none;
		width: 0;
		padding: 0 0 50px;
		border-radius: 20px 20px 10px 10px;
		.ui-dialog-titlebar {
			display: none;
		}
	}
	.ui-dialog-titlebar {
		position: relative;
	}
	&.alert .ui-dialog-titlebar,
	&.confirm .ui-dialog-titlebar {
		font-size: 0;
		position: static;
	}
	.ui-dialog-title {
		float: left;
		margin: .1em 0;
		white-space: nowrap;
		width: 90%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.ui-dialog-titlebar-close {
		position: absolute;
		right: 0;
		top: 0;
		width: 24px;
		height: 24px;
	}
	&.alert .ui-dialog-titlebar-close,
	&.confirm .ui-dialog-titlebar-close {
		top: 21px;
		right: 21px;
		background: url('@@img/common/icon-close.png') 0 0 no-repeat;
		background-size: cover;
	}
	&.content .ui-dialog-titlebar-close {
		right: 21px;
		top: 50%;
		transform: translateY(-50%);
	}
	.ui-dialog-content {
		position: relative;
		border: 0;
		padding-bottom: 20px;
		margin: 0;
		background: none;
		overflow: visible;
		font-size: 16px;
		text-align: center;
	}
	&.content .ui-dialog-content {
		padding-bottom: 0;
	}
	.ui-dialog-buttonpane {
		width: calc(100% - 60px);
		margin: 0 auto 0 auto;
		text-align: left;
		border-width: 1px 0 0 0;
		background-image: none;
		.ui-dialog-buttonset {
			text-align: center;
			.ui-button {
				box-sizing: border-box;
				min-width: 110px;
				height: 40px;
				line-height: 40px;
				margin-right: 10px;
				padding: 0 12px;
				text-align: center;
				vertical-align: middle;
				background-color: $primary-color;
				font-size: 16px;
				font-weight: 500;
				border-radius: 6px;
				color: #fff;
				&:last-child { margin-right: 0; }
			}
		}
	}
	&.confirm .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button,
	&.content .ui-dialog-buttonpane .ui-dialog-buttonset .ui-button {
		&:first-child { background-color: #757575; }
	}
	&.content .ui-button-icon-only .ui-icon {
		@include sprite-resize-pad($icons-close-2x, 2.83);
	}
	.ui-dialog-buttonpane button {
		margin: 0;
		cursor: pointer;
	}
	.ui-resizable-n {
		height: 2px;
		top: 0;
	}
	.ui-resizable-e {
		width: 2px;
		right: 0;
	}
	.ui-resizable-s {
		height: 2px;
		bottom: 0;
	}
	.ui-resizable-w {
		width: 2px;
		left: 0;
	}
	.ui-resizable-se,
	.ui-resizable-sw,
	.ui-resizable-ne,
	.ui-resizable-nw {
		width: 7px;
		height: 7px;
	}
	.ui-resizable-se {
		right: 0;
		bottom: 0;
	}
	.ui-resizable-sw {
		left: 0;
		bottom: 0;
	}
	.ui-resizable-ne {
		right: 0;
		top: 0;
	}
	.ui-resizable-nw {
		left: 0;
		top: 0;
	}
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
}
.ui-front {
	z-index: 100;
}
.ui-button-icon-only {
	width: 2em;
	box-sizing: border-box;
	text-indent: -9999px;
	white-space: nowrap;
}

/* 기본 콘텐츠 팝업 스타일 */
.popup-content-default {
	.title-bar {
		padding: 14px 60px 13px 30px;
		background-color: #333;
		color: #fff;
		text-align: left;
		font-size: 22px;
		font-weight: 500;
		border-radius: 15px 15px 0 0;
	}
	.pop-close {
		position: absolute;
		top: 18px;
		right: 21px;
		@include spriteIR-resize-pad($icons-close-2x,2.84);
	}
	> .inner {
		padding: 0 30px;
		> .con {
			padding: 40px 0 30px 0;
			> .title {
				margin-bottom: 20px;
				font-weight: 500;
				color: #333;
				font-size: 18px;
				.br { display: block; }
				.str { color: $primary-color; }
				.add {
					display: block;
					font-weight: 300;
					font-size: 16px;
				}
			}
			> .tit {
				margin-bottom: 7px;
				font-weight: 800;
				color: #333;
				font-size: 16px;
				text-align: left;
				&:not(:first-child) { margin-top: 30px; }
			}
			> .comment {
				color: #757575;
				font-size: 14px;
			}
		}
		> .btn-area {
			padding-top: 20px;
			font-size: 0;
			border-top: 1px solid #dedede;
			.btn {
				min-width: 110px;
				padding: 0 10px;
				margin: 10px 5px 0 5px;
			}
		}
	}
}

.popup-search-box {
	display: flex;
	flex-direction: row;
	.btn {
		min-width: 90px;
		padding: 0 10px;
		margin-left: 10px;
	}
}

.popup-form {
	table {
		width: 100%;
		th {
			padding: 13px 10px 13px 0;
			min-height: 40px;
			font-weight: 500;
			color: #757575;
			font-size: 16px;
			text-align: left;
		}
		td {
			min-height: 40px;
			font-weight: 400;
			color: #333;
			text-align: left;
		}
	}
}

@include media-mob {
	.popup-content-default {
		.title-bar { font-size: 16px; }
		.pop-close {
			top: 15px;
			@include spriteIR-resize-pad($icons-close-2x,3.5);
		}
		> .inner {
			padding: 0 15px;
			> .con {
				.title {
					.br { display: none; }
				}
			}
			> .btn-area {
				.btn {
					min-width: 90px;
					margin: 6px 3px 0 3px;
				}
			}
		}
		.title {
			.br { display: none; }
		}
	}
}