.section-member {
	.content-wrap { opacity: 0; }
	.notice {
		margin-top: 30px;
		font-size: 14px;
		text-align: center;
		letter-spacing: -.35px;
		color: #757575;

		+ .btn-area { text-align: center; }
	}
}

/* 로그인 */
.member-login {
	.page-head {
		.desc {
			margin-top: 20px;
			font-size: 22px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: -1.1px;

			&.emp {
				span {
					display: inline-block;
					color: $primary-color;
				}
			}
		}
	}
	.info {
		max-width: 700px;
		padding: 30px 20px;
		margin: 0 auto;
		margin-top: 40px;
		background-color: #f5f5f5;
		.desc {
			color: #333;
			font-weight: 500;
			font-size: 18px;
			text-align: center;
			.str { color: $primary-color; }
		}
		.btn-area {
			font-size: 0;
			margin-top: 15px;
			text-align: center;
		}
	}
	.login {
		max-width: 700px;
		margin: 0 auto;
		padding: 50px 90px;
		border-top: .2rem solid $base-color;
		border-bottom: .1rem solid #dedede;

		.inner {
			float: left;
			width: 365px;
			letter-spacing: -.45px;
			color: #333;

			.id {
				p {
					display: inline-block;
					font-size: 18px;
					font-weight: 500;
				}

				input[type='text'] {
					display: inline-block;
					max-width: 265px;
					margin-left: 36px;
				}
			}

			.pw {
				margin-top: 12px;

				p {
					display: inline-block;
					font-size: 18px;
					font-weight: 500;
				}

				input[type='password'] {
					display: inline-block;
					max-width: 265px;
					margin-left: 20px;
				}
			}
		}

		.button {
			display: inline-block;

			button.btn {
				height: 93px;
				padding: 0 43px;
				border-radius: 6px;
			}
		}

		+ .button {
			margin-top: 50px;
			text-align: center;
		}
	}
	.button {
		.btn {
			&:nth-child(2) { padding: 0 20.5px; }
			&:nth-child(3) { padding: 0 13px; }
		}
	}

	@include media-mob {
		.page-head {
			.desc {
				margin-top: 15px;
				font-size: 14px;
				line-height: 1.4;
			}
		}
		.button {
			font-size: 0;
			input.btn {
				padding: 0 15px;
				margin-right: 5px;
			}
		}
		.info {
			.desc {
				font-size: 14px;
			}
		}
		.login {
			padding: 30px 50px;

			.inner {
				clear: both;
				width: 100%;

				.id {
					p {
						display: block;
						font-size: 14px;
					}

					input[type='text'] {
						max-width: none;
						margin-top: 10px;
						margin-left: 0;
					}
				}

				.pw {
					margin-top: 20px;

					p {
						display: block;
						font-size: 14px;
					}

					input[type='password'] {
						max-width: none;
						margin-top: 10px;
						margin-left: 0;
					}
				}
			}

			.button {
				display: inline-block;
				width: 100%;

				button.btn {
					width: 100%;
					height: 40px;
					padding: 0;
					margin-top: 20px;
					line-height: 3.1;
					border-radius: 6px;
				}
			}
		}
	}

	@include mob-mid {
		.button {
			.btn {
				margin-right: 5px;
				padding: 0 23px;
				&:nth-child(2) { padding: 0 14px; }
				&:nth-child(3) { padding: 0 8px; }
				&:last-child { margin-right: 0; }
			}
		}
	}

	@include mob-small {
		.page-head {
			.desc {
				font-size: 12px;
			}
		}
		.button {
			.btn {
				padding: 0 21px;
				font-size: 13px;
				&:nth-child(2) { padding: 0 13px; }
				&:nth-child(3) { padding: 0 7.5px; }
			}
		}
		.login { padding: 30px; }
	}
}

/* 회원가입 - 약관동의 */
.member-agree {
	.field {
		max-width: 700px;
		margin: 50px auto;
	}
	.textarea {
		.button {
			margin-top: 10px;
			.btn {
				height: 30px;
				line-height: 1.5;
			}
		}

		&.agree02 {
			margin-top: 20px;
			.text { height: 100px; }
		}
	}
	input[type='checkbox'] + label {
		font-size: 18px;
	}

	.btn-area {
		text-align: center;
	}

	@include media-mob {
		input[type='checkbox'] + label {
			font-size: 16px;
		}
	}
}

/* 회원가입 - 개인정보 입력 */
.member-join-input {
	.personal-info {
		max-width: 70rem;
		padding: 50px 0;
		margin: 0 auto;
		border-bottom: 1px solid #dedede;

		h3 {
			margin-bottom: 50px;
			padding-bottom: 10px;
			border-bottom: 2px solid $base-color;
			font-size: 22px;
			font-weight: 700;
			color: #333;
			letter-spacing: -1.1px;
		}

		.form-area {
			padding: 0 30px;

			table {
				width: 100%;

				th {
					padding: 10px 0 0;
					font-size: 14px;
					font-weight: 500;
					text-align: left;
					vertical-align: top;
					color: #757575;
				}

				td {
					padding: 5px 0;

					.check { margin-top: 10px; }
				}
			}

			.input {
				display: flex;
				.btn {
					margin-left: 10px;
					flex-shrink: 0;
				}
			}

			.info-txt {
				margin-top: 10px;
				font-size: 14px;
				color: #757575;

				&.space { margin-bottom: 20px; }
			}
		}

		+ .button {
			margin-top: 50px;
			text-align: center;
		}
	}

	@include media-mob {
		.personal-info {
			padding: 50px 20px 30px;

			.title { margin-bottom: 20px; }

			.form-area {
				padding: 0 10px;

				table {
					th {
						display: block;
						width: 100%;
					}

					td {
						display: block;
						width: 100%;
					}
				}

				.info-txt {
					font-size: 12px;
					&.space { margin-bottom: 0; }
				}
			}
		}
	}

	@include mob-mid {
		.personal-info {
			.form-area {
				.input {
					display: block;
					.btn {
						margin: 10px 0 0;
					}
				}
			}
		}
	}
}

/* 회원가입 완료 */
.member-join-complete {
	.complete {
		max-width: 70rem;
		margin: 100px auto 40px;
		padding: 5.4rem 0 6rem 0;
		border-top: .2rem solid $base-color;
		border-bottom: .1rem solid #dedede;

		p {
			text-align: center;
			color: #333;

			&.info {
				font-size: 28px;
				font-weight: 500;
				line-height: 1.46;
				letter-spacing: -.7px;
			}

			&.desc {
				margin-top: 20px;
				font-size: 16px;
				line-height: 1.5;
				letter-spacing: -.4px;
			}

			span { color: $primary-color; }
		}

		+ .button { text-align: center; }
	}

	@include media-mob {
		.complete {
			margin: 50px auto 40px;
			padding: 40px 0;
			p {
				&.info { font-size: 20px; }
				&.desc { font-size: 14px; }
			}
		}
	}

	@include mob-small {
		.complete {
			p {
				&.info { font-size: 18px; }
				&.desc { font-size: 12px; }
			}
		}
	}
}

/* 회원가입 - 아이디 찾기 */
.member-id-find {
	text-align: center;
	.field {
		max-width: 700px;
		padding: 50px 0;
		margin: 0 auto;
		border-top: 2px solid #033333;
		border-bottom: 2px solid #dedede;

		.inner {
			max-width: 220px;
			margin: 0 auto;

			.title {
				font-size: 20px;
				font-weight: 500;
				letter-spacing: -.5px;
			}
	
			.list {
				margin: 30px 0 0 50px;

				li {
					margin-bottom: 20px;

					&:last-child { margin: 0; }
				}
			}
		}
		.result {
			margin-top: 30px;
			font-size: 20px;
			color: #f66953;
			font-weight: 500;
		}
	}
	.info-txt {
		font-size: 14px;
		color: #757575;
		margin-top: 20px;
	}
	.btn-area { margin-top: 40px; }
}

/* 회원가입 - 비밀번호 찾기 */
.member-pw-find {
	.join-pw {
		max-width: 700px;
		padding: 50px 0;
		margin: 0 auto 20px;
		text-align: center;
		border-top: 2px solid #033333;
		border-bottom: 2px solid #dedede;

		.id {
			font-size: 18px;
			letter-spacing: -.45px;
			color: #575757;
		}

		.pw {
			margin-top: 20px;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: -.5px;

			span { color: #f66953; }
		}
	}
	.notice {
		margin: 0 auto 40px;

		+ .btn-area { text-align: center; }
	}
}