
.info-define {
	margin-top: 40px;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	.title {
		font-size: 18px;
		font-weight: 500;
	}
	.inner {
		margin-top: 10px;
		dt {
			padding: 7px 10px 8px;
			border-top: 1px solid #212121;
			background-color: #f5f5f5;
			letter-spacing: -.4px;
			color: #333;
		}
		dd {
			padding: 10px 10px 0 10px;
			margin-bottom: 30px;
			&.blank { margin-bottom: 0; }
		}
		&.border {
			padding-bottom: 30px;
			border-bottom: 1px solid #dedede;
		}
	}
}

.text-data {
	dt {
		margin-top: 25px;
		font-weight: 700;
	}
}

@include pc-small {
	.info-define {
		dd { font-size: 14px; }
	}
}